<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801508717718-7if51qasef2nkaloi3oit089ge2qiqb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801508717718-7if51qasef2nkaloi3oit089ge2qiqb6</string>
	<key>API_KEY</key>
	<string>AIzaSyBIcLLOsSV5Mv7UIr_tc8sBgjFuQefoVgc</string>
	<key>GCM_SENDER_ID</key>
	<string>801508717718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wahyu.alysahApp</string>
	<key>PROJECT_ID</key>
	<string>alysha-store</string>
	<key>STORAGE_BUCKET</key>
	<string>alysha-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801508717718:ios:e19897e44ae31bea717eb7</string>
</dict>
</plist>